<!DOCTYPE html>
<html>
	<head>
		<title>
			FamTen
		</title>
		<link type="text/css" href="stylesheets/reset.css" media="screen" rel="stylesheet"></link>
		<link type="text/css" href="stylesheets/layout.css" media="screen" rel="stylesheet"></link>
		<script type="text/javascript" src="lib/json2.js"></script>
		<script type="text/javascript" src="lib/jquery.min.js"></script>
		<script type="text/javascript" src="lib/underscore.js"></script>
		<script type="text/javascript" src="lib/backbone.js"></script>
		<script type="text/javascript" src="lib/backbone-localstorage.js"></script>
		<script type="text/javascript" src="javascripts/init.js"></script>
		<script type="text/javascript" src="javascripts/models/player.js"></script>
		<script type="text/javascript" src="javascripts/models/match.js"></script>
		<script type="text/javascript" src="javascripts/views/table.js"></script>
		<script type="text/javascript" src="javascripts/views/match.js"></script>
		<script type="text/javascript" src="javascripts/views/app.js"></script>
		<script type="text/template" src="javascripts/templates/match.jst" id="match-template"></script>
		<script type="text/template" src="javascripts/templates/table.jst" id="tableitem-template">
			<tr>
				<td>1</td>
				<td><% name; %></td>
				<td><%  %></td>
				<td><%  %></td>
				<td><%  %></td>
			</tr>
		</script>
		<script type="text/template" id="tableitem-form-template">
			<tr>
				<td>+</td>
				<td><input data-field="name" type="text" value="<% name; %>" class="player-form" /></td>
				<td><%  %></td>
				<td><input data-field="stats" type="text" value="<% stats; %>" class="player-form" /></td>
				<td><%  %></td>
			</tr>
		</script>
		<script type="text/template" src="javascripts/templates/table.jst" id="table-template">
			<table id="table">
				<thead>
					<td></td>
					<td>Name</td>
					<td>Spiele</td>
					<td>Siege:Gleichstand:Verloren</td>
					<td>Punkte</td>
				</thead>
				<tbody>
				</tbody>
			</table>
		</script>
		<script type="text/templates" id="match-template">
		</script>
	</head>
	<body>
		<div id="site">
			<h1>FamTen</h1>
			<div class="menu">
				<ul>
					<li><a data-view="Table">Spieler</a></li>
					<li><a data-view="Match">Matches</a></li>
				</ul>
			</div>
			<div id="content">
				<table id="table">
					<thead>
						<td></td>
						<td>Name</td>
						<td>Spiele</td>
						<td>Siege:Gleichstand:Verloren</td>
						<td>Punkte</td>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>Peter</td>
							<td>4</td>
							<td>2:1:1</td>
							<td>5</td>
						</tr>
						<tr>
							<td>2</td>
							<td>Hans</td>
							<td>3</td>
							<td>1:1:1</td>
							<td>3</td>
						</tr>
							<tr>
								<td>2</td>
								<td>Hans</td>
								<td>3</td>
								<td>1:1:1</td>
								<td>3</td>
							</tr>
								<tr>
									<td>2</td>
									<td>Hans</td>
									<td>3</td>
									<td>1:1:1</td>
									<td>3</td>
								</tr>
									<tr>
										<td>2</td>
										<td>Hans</td>
										<td>3</td>
										<td>1:1:1</td>
										<td>3</td>
									</tr>
											<tr>
												<td>2</td>
												<td>Hans</td>
												<td>3</td>
												<td>1:1:1</td>
												<td>3</td>
											</tr>
													<tr>
														<td>2</td>
														<td>Hans</td>
														<td>3</td>
														<td>1:1:1</td>
														<td>3</td>
													</tr>
															<tr>
																<td>2</td>
																<td>Hans</td>
																<td>3</td>
																<td>1:1:1</td>
																<td>3</td>
															</tr>
																	<tr>
																		<td>2</td>
																		<td>Hans</td>
																		<td>3</td>
																		<td>1:1:1</td>
																		<td>3</td>
																	</tr>
																			<tr>
																				<td>2</td>
																				<td>Hans</td>
																				<td>3</td>
																				<td>1:1:1</td>
																				<td>3</td>
																			</tr>
																					<tr>
																						<td>2</td>
																						<td>Hans</td>
																						<td>3</td>
																						<td>1:1:1</td>
																						<td>3</td>
																					</tr>
											<tr>
												<td>+</td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
											</tr>
					</tbody>
				</table>
			</div>
		</div>
	</body>
</html>
